* {
             padding: 0;
             margin: 0;
        } 
 a {
            text-decoration: none;
       }
html{
	font-size: 20px;
}
body{
	overflow-x:hidden;
	position: relative;

}
p{
	color: #888888;
	font-size: 16px;
}
.top{
 	height: 1rem;
 	width: 100%;
 	border-bottom: 1px solid #f6f6f6;
 }
 .top-top{
 	width: 100%;
 	height: 1rem;
 	 display: flex;
 	 justify-content: space-between;
 }
 .top-left{
 	width: 25%;
 	height: 1rem;
 	padding-left: 1px;
 }
 .top-zhongjian{
 	width: 25%;
 	height: 1rem;
 	padding-left: 1px;
 	 display: flex;
 	 justify-content: center;
 }
 .img1{
 	float: left;
 	padding-left: 2px;
 	padding-top: 3px;
 }
 .img2{
 	float: left;
 	padding-left: 2px;
 	padding-top: 3px;
 }
 .sp1{
 	font-size: 10px;
 	float: left;
 	padding-left: 2px;
 }
 .sp2{
 	font-size: 10px;
 	float: left;

 }
 .sp3{
 	font-size: 10px;
 	float: left;
 }
 .clear{
 	clear: both;
 }
 .sp4{
 	font-size: 10px;
 	float: right;
    padding-right: 5px;
 }
 .img3{
 	float: right;
 	padding-right: 2px;
 	padding-top: 2px;
 	
 }
 .img4{
 	float: right;
 	padding-right : 2px;
 	padding-top: 2px;
 }
 
 .left{
 	width: 65%;
	height: 36.7rem;
	background: #fff;
	text-align: center;
	float: left;
 }
 .imgss{
 	padding-top: 1rem;
 }
 .imgz{
	padding-top: 1.5rem;
}
.imgzz{
	float: right;
	overflow: hidden;
	position: absolute;
	left: 
}
.clear{
	clear: both;
}